<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <global-method-security secured-annotations="enabled" />

    <beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
        <beans:property name="rolePrefix" value="" />
    </beans:bean>

    <http  auto-config="true">
        <intercept-url pattern='/admin/**' access="hasAnyRole('ROLE_ADMIN')" />
        <intercept-url pattern='/instructor/**' access="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR','ROLE_TEACHER')"/>
        <intercept-url pattern='/moderator/**' access="hasAnyRole('ROLE_MODERATOR','ROLE_ADMIN')" />
        <intercept-url pattern='/course/**' access="hasAnyRole( 'ROLE_ADMIN','ROLE_TEACHER')" />
        <intercept-url pattern='/student/**' access="hasAnyRole( 'ROLE_ADMIN','ROLE_STUDENT')" />

        <!-- access denied page -->
        <!-- this is my first time on spring security -->
        <form-login login-processing-url="/login"
                    login-page="/login"
                    username-parameter="username"
                    password-parameter="password"
                    default-target-url="/home"
                    authentication-failure-handler-ref="customFailureHandler"
                     />

        <!-- authentication-failure-url="/login?auth=fail"  -->

        <logout
                logout-url="/logout"
                invalidate-session="true"
                delete-cookies="true"
                logout-success-url="/" />

        <remember-me key="uniqueAndSecret" token-validity-seconds="86400"/>

       <csrf disabled="true"/>
   </http>

    <!-- logout-url="/j_logout" -->

   <authentication-manager>
       <authentication-provider  >
           <!--<password-encoder hash="md5" />-->
            <!-- if not working add datasource up there -->
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select USERNAME, PASSWORD, ENABLED from USER where username = ?"
                               authorities-by-username-query="select USERNAME, ROLE from AUTHORIZATION where username =? " />
        </authentication-provider>
    </authentication-manager>


    <beans:bean id="customFailureHandler"
                class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
        <beans:property name="exceptionMappings">
            <beans:props>
                <beans:prop
                        key="org.springframework.security.authentication.BadCredentialsException">/login/fail/cred</beans:prop>
                <beans:prop
                        key="org.springframework.security.authentication.AuthenticationServiceException">/login/fail/500</beans:prop>
                <beans:prop
                        key="org.springframework.secuirty.authentication.DisabledException">/login/fail/dis</beans:prop>
            </beans:props>
        </beans:property>
        <beans:property name="defaultFailureUrl" value="/login/fail/dis" />
    </beans:bean>



</beans:beans>